body {
    background: #CCCCCC
}

#banner {
    width: 70%;
    height: 574px;
    text-align: center;
}


h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: rgb(255, 17, 0);
}
